Part a

In [4]:
import sqlite3
import pandas as pd

# Connect to the database (creates it if it doesn't exist)
db_connect = sqlite3.connect('pawsome_pets.db')

# Instantiate cursor object for executing queries
cursor = db_connect.cursor()

In [5]:
# Create the Clinic table
query = """
CREATE TABLE Clinic (
    clinicNo INTEGER PRIMARY KEY,
    name TEXT NOT NULL UNIQUE,
    address TEXT NOT NULL,
    phoneNumber CHAR(10) NOT NULL UNIQUE,
    managerStaffNo INTEGER,
    FOREIGN KEY (managerStaffNo) REFERENCES Staff(staffNo)
);
"""
cursor.execute(query)

In [6]:
# Create the Staff table
query = """
CREATE TABLE Staff (
    staffNo INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    address TEXT NOT NULL,
    phoneNumber CHAR(10) NOT NULL UNIQUE,
    DOB DATE NOT NULL CHECK (DOB <= CURRENT_DATE),
    position TEXT NOT NULL CHECK (position IN ('vet', 'receptionist', 'manager')),
    salary FLOAT NOT NULL CHECK (salary > 0),
    clinicNo INTEGER,
    FOREIGN KEY (clinicNo) REFERENCES Clinic(clinicNo)
);
"""
cursor.execute(query)

In [7]:
# Create the Owner table
query = """
CREATE TABLE Owner (
    ownerNo INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    address TEXT NOT NULL,
    phoneNumber CHAR(10) NOT NULL UNIQUE
);
"""
cursor.execute(query)

In [8]:
# Create the Pet table
query = """
CREATE TABLE Pet (
    petNo INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    DOB DATE NOT NULL CHECK (DOB <= CURRENT_DATE),
    species TEXT NOT NULL,
    breed TEXT,
    color TEXT,
    ownerNo INTEGER NOT NULL,
    clinicNo INTEGER NOT NULL,
    FOREIGN KEY (ownerNo) REFERENCES Owner(ownerNo),
    FOREIGN KEY (clinicNo) REFERENCES Clinic(clinicNo)
);
"""
cursor.execute(query)

In [9]:
# Create the Examination table
query = """
CREATE TABLE Examination (
    examNo INTEGER PRIMARY KEY,
    chiefComplaint TEXT NOT NULL,
    description TEXT NOT NULL,
    dateSeen DATE NOT NULL,
    actionsTaken TEXT,
    petNo INTEGER NOT NULL,
    staffNo INTEGER NOT NULL,
    FOREIGN KEY (petNo) REFERENCES Pet(petNo),
    FOREIGN KEY (staffNo) REFERENCES Staff(staffNo)
);
"""
cursor.execute(query)

In [10]:
db_connect.commit()

Part b

In [11]:
# Insert data into Clinic
query = """
INSERT INTO Clinic (clinicNo, name, address, phoneNumber, managerStaffNo)
VALUES
(1, 'Downtown Clinic', '123 Main St', '5551234567', 101),
(2, 'Miami Clinic', '456 Elm St', '5552345678', 102),
(3, 'North Clinic', '789 Pine St', '5553456789', NULL),
(4, 'Sout Clinic', '321 Oak St', '5554567890', 103),
(5, 'East Clinic', '654 Cedar St', '5555678901', NULL);
"""
cursor.execute(query)

In [12]:
# Insert data into Staff
query = """
INSERT INTO Staff (staffNo, name, address, phoneNumber, DOB, position, salary, clinicNo)
VALUES
(101, 'Alice Bradshaw', '101 First St', '5551111111', '1980-05-10', 'manager', 70000, 1),
(102, 'Bob Duncan', '202 Second St', '5552222222', '1990-06-15', 'vet', 90000, 2),
(103, 'Charlie Brown', '303 Third St', '5553333333', '1965-07-20', 'receptionist', 45000, 4),
(104, 'Diana Dakota', '404 Fourth St', '5554444444', '1995-03-15', 'vet', 85000, 3),
(105, 'Evan Stevens', '505 Fifth St', '5555555555', '2000-09-25', 'manager', 72000, 5);
"""
cursor.execute(query)

In [13]:
# Insert data into Owner
query = """
INSERT INTO Owner (ownerNo, name, address, phoneNumber)
VALUES
(201, 'Andy Apple', '789 Maple St', '5556666666'),
(202, 'Bob Banana', '101 Oak St', '5557777777'),
(203, 'Caroline Carrot', '202 Elm St', '5558888888'),
(204, 'David Duck', '303 Pine St', '5559999999'),
(205, 'Peter Parker', '404 Cedar St', '5550000000');
"""
cursor.execute(query)

In [14]:
# Insert data into Pet
query = """
INSERT INTO Pet (petNo, name, DOB, species, breed, color, ownerNo, clinicNo)
VALUES
(301, 'Rari', '2018-03-20', 'Dog', 'Golden Retriever', 'Gold', 201, 1),
(302, 'Alfie', '2020-05-15', 'Cat', 'Siamese', 'Cream', 202, 2),
(303, 'Cookie', '2021-07-01', 'Rabbit', 'Dwarf', 'White', 203, 3),
(304, 'Monkey', '2019-11-23', 'Dog', 'Labrador', 'Black', 204, 4),
(305, 'Bobby', '2022-06-30', 'Hamster', 'Syrian', 'Brown', 205, 5);
"""
cursor.execute(query)

In [15]:
# Insert data into Examination
query = """
INSERT INTO Examination (examNo, chiefComplaint, description, dateSeen, actionsTaken, petNo, staffNo)
VALUES
(401, 'Fever', 'Administered medication', '2024-01-15', 'Prescribed antibiotics', 301, 102),
(402, 'Allergy', 'Gave antihistamines', '2024-02-10', 'Prescribed antihistamines', 302, 104),
(403, 'Check-up', 'Routine health check-up', '2024-03-05', 'No action required', 303, 101),
(404, 'Injury', 'Cleaned wound and bandaged', '2024-03-20', 'Prescribed painkillers', 304, 103),
(405, 'Vaccination', 'Administered rabies vaccine', '2024-04-10', 'Updated vaccination records', 305, 105);
"""
cursor.execute(query)

In [16]:
db_connect.commit()

In [17]:
query = "SELECT * FROM Clinic;"
cursor.execute(query)
print("Clinic Table Contents:")
for row in cursor.fetchall():
    print(row)

Clinic Table Contents:
(1, 'Downtown Clinic', '123 Main St', '5551234567', 101)
(2, 'Miami Clinic', '456 Elm St', '5552345678', 102)
(3, 'North Clinic', '789 Pine St', '5553456789', None)
(4, 'Sout Clinic', '321 Oak St', '5554567890', 103)
(5, 'East Clinic', '654 Cedar St', '5555678901', None)

In [18]:
query = "SELECT * FROM Staff;"
cursor.execute(query)
print("Staff Table Contents:")
for row in cursor.fetchall():
    print(row)

Staff Table Contents:
(101, 'Alice Bradshaw', '101 First St', '5551111111', '1980-05-10', 'manager', 70000.0, 1)
(102, 'Bob Duncan', '202 Second St', '5552222222', '1990-06-15', 'vet', 90000.0, 2)
(103, 'Charlie Brown', '303 Third St', '5553333333', '1965-07-20', 'receptionist', 45000.0, 4)
(104, 'Diana Dakota', '404 Fourth St', '5554444444', '1995-03-15', 'vet', 85000.0, 3)
(105, 'Evan Stevens', '505 Fifth St', '5555555555', '2000-09-25', 'manager', 72000.0, 5)

In [19]:
query = "SELECT * FROM Owner;"
cursor.execute(query)
print("Owner Table Contents:")
for row in cursor.fetchall():
    print(row)

Owner Table Contents:
(201, 'Andy Apple', '789 Maple St', '5556666666')
(202, 'Bob Banana', '101 Oak St', '5557777777')
(203, 'Caroline Carrot', '202 Elm St', '5558888888')
(204, 'David Duck', '303 Pine St', '5559999999')
(205, 'Peter Parker', '404 Cedar St', '5550000000')

In [20]:
query = "SELECT * FROM Pet;"
cursor.execute(query)
print("Pet Table Contents:")
for row in cursor.fetchall():
    print(row)

Pet Table Contents:
(301, 'Rari', '2018-03-20', 'Dog', 'Golden Retriever', 'Gold', 201, 1)
(302, 'Alfie', '2020-05-15', 'Cat', 'Siamese', 'Cream', 202, 2)
(303, 'Cookie', '2021-07-01', 'Rabbit', 'Dwarf', 'White', 203, 3)
(304, 'Monkey', '2019-11-23', 'Dog', 'Labrador', 'Black', 204, 4)
(305, 'Bobby', '2022-06-30', 'Hamster', 'Syrian', 'Brown', 205, 5)

In [21]:
query = "SELECT * FROM Examination;"
cursor.execute(query)
print("Examination Table Contents:")
for row in cursor.fetchall():
    print(row)

Examination Table Contents:
(401, 'Fever', 'Administered medication', '2024-01-15', 'Prescribed antibiotics', 301, 102)
(402, 'Allergy', 'Gave antihistamines', '2024-02-10', 'Prescribed antihistamines', 302, 104)
(403, 'Check-up', 'Routine health check-up', '2024-03-05', 'No action required', 303, 101)
(404, 'Injury', 'Cleaned wound and bandaged', '2024-03-20', 'Prescribed painkillers', 304, 103)
(405, 'Vaccination', 'Administered rabies vaccine', '2024-04-10', 'Updated vaccination records', 305, 105)

Part c

In [22]:
# Insert a new pet for an existing owner
query = """
INSERT INTO Pet (petNo, name, DOB, species, breed, color, ownerNo, clinicNo)
VALUES (306, 'Luna', '2023-01-15', 'Dog', 'Husky', 'Gray', 202, 2);
"""
cursor.execute(query)
db_connect.commit()

In [23]:
# Assign a staff member to manage a clinic
query = """
UPDATE Clinic
SET managerStaffNo = 104
WHERE clinicNo = 3;
"""
cursor.execute(query)
db_connect.commit()

In [24]:
# Update pet details
query = """
UPDATE Pet
SET name = 'Shadow', DOB = '2019-06-01', species = 'Dog', breed = 'Labrador', color = 'Black'
WHERE petNo = 304;
"""
cursor.execute(query)
db_connect.commit()

In [25]:
# Retrieve all examinations for a specific pet
query = """
SELECT * FROM Examination
WHERE petNo = 301;
"""
cursor.execute(query)
print("Examinations for PetNo 301:")
for row in cursor.fetchall():
    print(row)

Examinations for PetNo 301:
(401, 'Fever', 'Administered medication', '2024-01-15', 'Prescribed antibiotics', 301, 102)

In [26]:
# List all pets owned by a specific owner
query = """
SELECT * FROM Pet
WHERE ownerNo = 201;
"""
cursor.execute(query)
print("Pets owned by OwnerNo 201:")
for row in cursor.fetchall():
    print(row)

Pets owned by OwnerNo 201:
(301, 'Rari', '2018-03-20', 'Dog', 'Golden Retriever', 'Gold', 201, 1)

In [27]:
query = "SELECT * FROM Pet;"
cursor.execute(query)
print("Updated Pet Table Contents:")
for row in cursor.fetchall():
    print(row)

Updated Pet Table Contents:
(301, 'Rari', '2018-03-20', 'Dog', 'Golden Retriever', 'Gold', 201, 1)
(302, 'Alfie', '2020-05-15', 'Cat', 'Siamese', 'Cream', 202, 2)
(303, 'Cookie', '2021-07-01', 'Rabbit', 'Dwarf', 'White', 203, 3)
(304, 'Shadow', '2019-06-01', 'Dog', 'Labrador', 'Black', 204, 4)
(305, 'Bobby', '2022-06-30', 'Hamster', 'Syrian', 'Brown', 205, 5)
(306, 'Luna', '2023-01-15', 'Dog', 'Husky', 'Gray', 202, 2)

In [28]:
query = "SELECT * FROM Clinic;"
cursor.execute(query)
print("Updated Clinic Table Contents:")
for row in cursor.fetchall():
    print(row)

Updated Clinic Table Contents:
(1, 'Downtown Clinic', '123 Main St', '5551234567', 101)
(2, 'Miami Clinic', '456 Elm St', '5552345678', 102)
(3, 'North Clinic', '789 Pine St', '5553456789', 104)
(4, 'Sout Clinic', '321 Oak St', '5554567890', 103)
(5, 'East Clinic', '654 Cedar St', '5555678901', None)